* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  width: 100vw;
  height: 100vh;
  position: relative;
}
#gameboard {
  background-color: black;
  border: 5px solid white;
  width: 85vw;
  height: 80vh;
}
.paddel {
  background-color: aqua;
  height: 150px;
  width: 20px;
}
.ball {
  background-color: aliceblue;
  border: 3px solid lightblue;
  height: 20px;
  width: 20px;
  position: fixed;
  left: calc(50%-15px);
  top: calc(50%-15px);
}
.ball_effect {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  animation: spinBall 0.1s linear infinite;
}
@keyframes spinBall {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#player1 {
  position: fixed;
  top: calc(7.5vh + 55px);
  left: calc(10vw + 30px);
}
#player2 {
  position: fixed;
  top: calc(7.5vh + 55px);
  right: calc(10vw + 30px);
}
.words {
  font-size: 72px;
  color: aliceblue;
  font-family: "Righteous";
  -webkit-text-stroke: 1px lightblue;
}
#player_1_score {
  position: absolute;
  left: 40%;
}
#player_2_score {
  position: absolute;
  right: 40%;
}
#message {
}
